[submodule "TiwariMartAdminMain"]
	path = TiwariMartAdminMain
	url = https://github.com/savage-9/Tiwari-Mart-Admin.git
[submodule "TiwariMartMain"]
	path = TiwariMartMain
	url = https://github.com/savage-9/Tiwari-Mart.git
[submodule "Project Work/TiwariMart"]
	path = Project Work/TiwariMart
	url = https://github.com/savage-9/Tiwari-Mart.git
[submodule "Project Work/TiwariMartAdmin"]
	path = Project Work/TiwariMartAdmin
	url = https://github.com/savage-9/Tiwari-Mart-Admin.git
[submodule "Project Work/Quikcart"]
	path = Project Work/Quikcart
	url = https://github.com/savage-9/Quikcart.git
[submodule "Project Work/QuikcartAdmin"]
	path = Project Work/QuikcartAdmin
	url = https://github.com/savage-9/Quickcart-Admin.git
[submodule "Project Work/Customer Support/Final_Version/Customer-Support"]
	path = Project Work/Customer Support/Final_Version/Customer-Support
	url = https://github.com/Roh15/Customer-Support.git
